{% extends 'base.html' %}

{% block content %}
<div class="navbar">
    <div>
        {% if user.is_authenticated %}
            <a href="/logout/">Logout</a>
            <a href="/create/">New Project</a>
            <a href="/create_users/">Create a worker</a>
        {% else %}
            <a href="/login/">Login</a>
        {% endif %}
    </div>
    <a href="/"><p>{{ user.username }}</p></a>
</div>

<div class="container register-form-container" style="background-color: #333; color: #fff;">
    <h3>Proyecto</h3>
    <form method="post"  enctype="multipart/form-data" >
        {% csrf_token %}
        <p>
            <label for="id_name">Customer name, address and contact</label>
            <input type="text" name="name" maxlength="100" value="{{ project.name}}" required id="id_name">
            
            
          </p>
        
          
          <p>
            <label for="id_description">Description of work needed</label>
            <textarea name="description" cols="40" rows="10"  required id="id_description">{{ project.description}} 
        </textarea>
            
            
          </p>
        
          
          <p>
            <label for="id_todays_date">Today's Date</label>
            <input type="date" name="todays_date" value="{{ project.todays_date|date:'Y-m-d' }}" required id="id_todays_date">
            
            
              
            
          </p>

        <input type="hidden" name="steps-TOTAL_FORMS" value="1" id="id_steps-TOTAL_FORMS"><input type="hidden" name="steps-INITIAL_FORMS" value="0" id="id_steps-INITIAL_FORMS"><input type="hidden" name="steps-MIN_NUM_FORMS" value="1" id="id_steps-MIN_NUM_FORMS"><input type="hidden" name="steps-MAX_NUM_FORMS" value="1000" id="id_steps-MAX_NUM_FORMS">
        <h3>Assignments</h3>
        <div id="existing-steps">
            {% for step in steps %}
            <div class="form-group">
                <label for="id_steps-{{ forloop.counter0 }}-name">Name of the Assignment</label>
                <input type="text" name="steps-{{ forloop.counter0 }}-name" value="{{ step.name }}" required>
            </div>
            {% if step.file %}
            <div class="form-group">
                
                <a href="{{ step.file.url }}" target="_blank"><label>Picture of work:</label></a>
            </div>
            {% endif %}

            {% if step.sign_sheet %}
            <div class="form-group">
                
                <a href="{{ step.sign_sheet.url }}" target="_blank"><label>Sign job sheet:</label></a>
            </div>
            {% endif %}

            <!-- Add the file input field to change the file -->
            <div class="form-group">
                <label for="id_steps-{{ forloop.counter0 }}-file">Picture (Leave in blank to keep current pic)</label>
                <input type="file" name="steps-{{ forloop.counter0 }}-file" accept="image/*, .pdf, .doc, .docx">
            </div>

            <div class="form-group">
                <label for="id_steps-{{ forloop.counter0 }}-sign_sheet">Sign job sheet (Leave in blank to keep current pic)</label>
                <input type="file" name="steps-{{ forloop.counter0 }}-sign_sheet" accept="image/*, .pdf, .doc, .docx">
            </div>
    
            <div class="form-group">
                <label for="id_steps-{{ forloop.counter0 }}-description">Any guidelines related</label>
                <textarea name="steps-{{ forloop.counter0 }}-description" rows="4" required>{{ step.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="id_steps-{{ forloop.counter0 }}-todays_date">Today's Date</label>
                <input type="date" name="steps-{{ forloop.counter0 }}-todays_date" value="{{ step.todays_date|date:'Y-m-d' }}" required>
            </div>
            <div class="form-group">
                <label for="id_steps-{{ forloop.counter0 }}-assigned_to">Assign to:</label>
                <select name="steps-{{ forloop.counter0 }}-assigned_to">
                    <option value="" disabled>Choose a worker</option>
                    {% for user in users %}
                        <option value="{{ user.username }}" {% if step.assigned_to == user.username %}selected{% endif %}>{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>

        <button type="button" id="add-step-btn" class="btn btn-primary">Add an assignment</button>

        <input type="submit" value="Save changes" class="btn btn-primary">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let formIdx = {{ formset.total_form_count }};
    const addStep = document.getElementById("add-step-btn");

    addStep.addEventListener("click", updateID);
    // Function to add a new step form
    function addStepForm(prefix) {
        const emptyFormEl = document.getElementById("empty-form").cloneNode(true);
        // Update the ID of the new "empty-form"
        emptyFormEl.id = `emptyform${formIdx}`;
        emptyFormEl.innerHTML = emptyFormEl.innerHTML.replace(/__prefix__/g, formIdx);
        emptyFormEl.style.display = "block";
        emptyFormEl.querySelectorAll("select").forEach((select) => {
            select.id = select.id.replace(/__prefix__/g, formIdx);
            select.name = select.name.replace(/__prefix__/g, formIdx);
        });
        document.getElementById("existing-steps").appendChild(emptyFormEl); // Use "existing-steps" instead of "step-forms"
    }

    // Add step button click event
    function updateID() {
        addStepForm("steps");
        formIdx++;
        $('#id_steps-TOTAL_FORMS').val( formIdx);
    }
</script>

<div id="empty-form" style="display:none;">
    <div class="form-group">
        <label for="id_steps-__prefix__-name">Assignment Name</label>
        <input type="text" name="steps-__prefix__-name" maxlength="100" id="id_steps-__prefix__-name" class="form-control">
    </div>

    <div class="form-group">
        <label for="id_steps-__prefix__-file">Pictures of work:</label>
        <input type="file" name="steps-__prefix__-file" id="id_steps-__prefix__-file" class="form-control">
    </div>

    <div class="form-group">
        <label for="id_steps-__prefix__-sign_sheet">Sign job sheet:</label>
        <input type="file" name="steps-__prefix__-sign_sheet" id="id_steps-__prefix__-sign_sheet" class="form-control">
    </div>

    <div class="form-group">
        <label for="id_steps-__prefix__-description">Any guidelines related</label>
        <textarea name="steps-__prefix__-description" cols="40" rows="10" id="id_steps-__prefix__-description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="id_steps-__prefix__-todays_date">Today's Date</label>
        <input type="date" name="steps-__prefix__-todays_date" id="id_steps-__prefix__-todays_date" class="form-control">
    </div>

    <div class="form-group">
        <label for="id_steps-__prefix__-assigned_to">Assign to:</label>
        <select name="steps-__prefix__-assigned_to" id="steps-__prefix__-assigned_to" class="form-control">
            <option value="" selected disabled>Choose a worker</option>
            {% for user in users %}
            <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<style>

    .navbar {
        background-color: #333;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        align-items: center;
        margin-bottom: 50px;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        margin: 0 5px;
        padding: 8px 12px;
        border-radius: 5px;
    }

    .navbar p {
        color: white;
        margin: 0;
        font-weight: bold;
    }
    body {
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }

    /* Your additional CSS styles specific to create_project.html */
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    .register-form-container {
        background-color: #ffffff;
        border: 1px solid #dbdbdb;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        box-sizing: border-box; /* Ensures padding and border are included in the width */
    }

    /* Add margin-bottom for each form element to create spacing between them */
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        margin-bottom: 10px;
    }

    .btn-primary {
        background-color: #8a00b8;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .login-link {
        text-align: center;
        margin-top: 20px;
    }

    .login-link a {
        color: #8a00b8;
        text-decoration: none;
    }

    input[type="date"] {
        appearance: none; /* Hide the default appearance of the input */
        background-color: #ffffff;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        padding: 10px;
    }

    /* Optional: Set the width to fit your form layout */
    input[type="date"] {
        width: 100%;
    }
</style>
{% endblock %}
