{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}
<style>
    body {
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }

    .navbar {
        background-color: #333;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        align-items: center;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        margin: 0 5px;
        padding: 8px 12px;
        border-radius: 5px;
    }

    .navbar p {
        color: white;
        margin: 0;
        font-weight: bold;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .container h1 {
        margin: 10px 0;
        font-size: 40px; /* Increased font size for "Proyectos" */
    }

    .projects-container {
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        text-align: center;
        max-width: 600px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Apple UI-like shadow */
    }

    .projects-container h2 a {
        color: black;
        text-decoration: none;
    }

    .projects-container p {
        margin: 5px 0;
    }

    .projects-container h3 {
        margin: 10px 0 5px;
    }

    .projects-container ul {
        list-style: none;
        padding-left: 0;
    }

    .projects-container ul li {
        margin-bottom: 5px;
    }

    /* Media Query for Mobile View */
    @media screen and (max-width: 600px) {
        .navbar {
            flex-direction: column;
            text-align: center;
        }
        .navbar a {
            margin: 5px 0;
        }
        .navbar p {
            margin-top: 10px;
        }
        .container h1 {
            font-size: 24px; /* Reduced font size for mobile view */
        }
        .projects-container {
            margin: 10px;
        }
    }

    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .popup-content {
        visibility: hidden;
        background-color: #f2f2f2; /* Updated background color */
        color: #333; /* Updated text color */
        text-align: center;
        border: 1px solid #ccc; /* Updated border color */
        border-radius: 8px; /* Increased border radius for a smoother look */
        position: absolute;
        z-index: 1;
        top: 50%; /* Updated: Center the popup vertically */
        left: 100%;
        transform: translate(-50%, -50%); /* Center the popup both vertically and horizontally */
        width: 200px; /* Fixed width */
        height: 100px; /* Fixed height */
        font-size: 14px; /* Slightly increased font size */
        padding: 12px; /* Increased padding for more space around the content */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added a subtle shadow */
    }


    .popup:hover .popup-content {
        visibility: visible;
    }

    .popup-content p {
        margin: 5px 0; /* Adjust margin for better appearance */
    }

    .progress-bar {
        width: 100%;
        height: 10px;
        background-color: #f2f2f2; /* Light gray background color */
        border-radius: 5px; /* Rounded corners */
        overflow: hidden; /* Hide any overflow */
    }

    .progress {
        height: 100%;
        background-color: #007bff; /* Blue color for the progress bar */
    }
</style>
{% endblock %}

{% block content %}
<div class="navbar">
    <div>
        {% if user.is_authenticated %}
            <a href="/logout/">Logout</a>
            {% if user.is_project_manager %}
            <a href="/create/">New Project</a>
            {% comment %} <a href="/workers/">Workers</a> {% endcomment %}
            <a href="/create_users/">Create Worker</a>
            {% endif %}
        {% else %}
            <a href="/login/">Login</a>
        {% endif %}
    </div>
    <p><a href="/">{{ user.username }}</a></p>
</div>

<div class="container">
    <h1>Projects</h1>
    {% for project in projects %}
        <div class="projects-container">
            <!-- Add a class to the project name link to trigger the popup -->
            <div class="popup" data-projectId="{{ project.id }}" data-project-length="{{ project.step_set.all|length }}">
                <h2><a href="{% url 'project_details' project.id %}">{{ project.name }}</a></h2>
                <div class="popup-content">
                    <!-- Popup content (project description) -->
                    
                    <p>Assignments Done <span id="steps-done-{{ project.id }}"></span> de {{ project.step_set.all|length }}</p>
                    <div class="progress-bar">
                        <div id="progress-{{ project.id }}" class="progress" ></div>
                    </div>
                    <p id="percentage-{{ project.id }}"></p>
                    <div id="step_done_{{ project.id }}">
                    {% for step in project.step_set.all %}
                   
                        {% if  step.is_done == True %}
                        <p></p>
                        {% endif %}

                    {% endfor %}
                    </div>
                
                </div>
            </div>
            <p>{{ project.description }}</p>
            {% comment %} <p>Today's Date: {{ project.todays_date }}</p> {% endcomment %}
            <ul>
            </ul>
        </div>
    {% endfor %}
</div>

<script>

    
    // JavaScript code to handle the popup functionality

        // Get the reference to the div element
        document.querySelectorAll('.popup').forEach((popup) => {
            const projectId = popup.dataset.projectid;
            const projectLength = popup.dataset.projectLength;
            const stepsDoneSpan = popup.querySelector('#steps-done-' + projectId);
            const stepDiv = document.querySelector('#step_done_' + projectId);
            const paragraphs = stepDiv.querySelectorAll('p');
            stepsDoneSpan.textContent = paragraphs.length.toString();
            const progressBar = popup.querySelector('#progress-' + projectId);
            progressBar.style.width = `${( paragraphs.length / projectLength) * 100}%`;
            const percentage = (paragraphs.length / projectLength) * 100;
            // Update the content of the percentage paragraph element
            const percentageParagraph = popup.querySelector('#percentage-' + projectId);
            percentageParagraph.textContent = `${percentage.toFixed(2)}%`;
        });
        // Get the number of p tags
    document.querySelectorAll('.popup').forEach((popup) => {
        popup.addEventListener('mouseover', () => {
            const popupContent = popup.querySelector('.popup-content');
            popupContent.style.visibility = 'visible';
        });

        popup.addEventListener('mouseout', () => {
            const popupContent = popup.querySelector('.popup-content');
            popupContent.style.visibility = 'hidden';
        });
    });
</script>
{% endblock %}