{% extends 'base.html' %}

{% block content %}
<div id="headerContainer">
  <div>
      <h2>Initial Budget</h2>
  </div>
  <a id="backButton" href="{% url 'job_details' job.id %}" class="btn btn-danger">Back</a></div>

    <table id="fieldTable">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Materials</th>
            <th>Labor</th>
            <th>Equipment</th>
            <th>Subcontract</th>
            <th>Other</th>
            <th>Total</th> <!-- New column for totals -->
          </tr>
        </thead>
        <tbody id="fieldContainer">
          {% for field, values in budget.items %}
            {% if field != "job" and field != "initial_budget" and field != "id" %}
              {% if values.materials != 0 or values.labor != 0 or values.equipment != 0 or values.subcontract != 0 or values.other != 0 %}
                <tr class="field-row">
                  <td >{{ values.name }}</td>
                  <td name="{{ field }}_materials">{{ values.materials }}</td>
                  <td name="{{ field }}_labor">{{ values.labor }}</td>
                  <td name="{{ field }}_equipment">{{ values.equipment }}</td>
                  <td name="{{ field }}_subcontract">{{ values.subcontract }}</td>
                  <td name="{{ field }}_other">{{ values.other }}</td>
                  <td class="field-total"></td>
                </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td><strong>Subtotal</strong></td>
            <td><span id="materialsSubtotal">0</span></td>
            <td><span id="laborSubtotal">0</span></td>
            <td><span id="equipmentSubtotal">0</span></td>
            <td><span id="subcontractSubtotal">0</span></td>
            <td><span id="otherSubtotal">0</span></td>
            <td><span id="totalSubtotal">0</span></td> <!-- New column for subtotal -->
          </tr>
        </tfoot>
      </table>
      <script>
        $(document).ready(function () {
          updateTotals(); 
      
          // Update totals when input values change
          function updateTotals() {
              var materialsSubtotal = 0,
                  laborSubtotal = 0,
                  equipmentSubtotal = 0,
                  subcontractSubtotal = 0,
                  otherSubtotal = 0,
                  totalSubtotal = 0;
      
              $(".field-row").each(function () {
                  var row = $(this);
                  var materials = parseInt(row.find("[name$='_materials']").text()) || 0;
                  var labor = parseInt(row.find("[name$='_labor']").text()) || 0;
                  var equipment = parseInt(row.find("[name$='_equipment']").text()) || 0;
                  var subcontract = parseInt(row.find("[name$='_subcontract']").text()) || 0;
                  var other = parseInt(row.find("[name$='_other']").text()) || 0;
                  var total = materials + labor + equipment + subcontract + other;
      
                  materialsSubtotal += materials;
                  laborSubtotal += labor;
                  equipmentSubtotal += equipment;
                  subcontractSubtotal += subcontract;
                  otherSubtotal += other;
                  totalSubtotal += total;
      
                  row.find(".field-total").text(total);
              });
      
              $("#materialsSubtotal").text(materialsSubtotal);
              $("#laborSubtotal").text(laborSubtotal);
              $("#equipmentSubtotal").text(equipmentSubtotal);
              $("#subcontractSubtotal").text(subcontractSubtotal);
              $("#otherSubtotal").text(otherSubtotal);
              $("#totalSubtotal").text(totalSubtotal);
          }
      });
      </script>
      
      <style>
        #headerContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 4rem; /* Adjust the margin as needed */
        }

        #backButton {
          margin-left: 1rem; /* Adjust the margin as needed */
        } 
        /* Adjust the style of the Add Field row */
        #addFieldRow {
          background-color: #f2f2f2; /* Background color to match table header */
          border-bottom: 1px solid #ddd; /* Border to separate it from the table rows */
        }

        /* Style for the Add Field button */
        #addFieldButton {
          margin-left: 10px; /* Add some spacing between the select and the button */
          /* Add more styles as needed */
        }
        #fieldTable {
          width: 100%;
          border-collapse: collapse;
          margin-top: 20px;
        }
      
        #fieldTable th, #fieldTable td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }
      
        #fieldTable th {
          background-color: #f2f2f2;
        }
      
        #fieldTable tfoot td {
          background-color: #e6e6e6;
        }
      
        #fieldTable .field-row td {
          height: 40px;
        }
      
        #fieldTable input {
          width: 80px;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          transition: border-color 0.3s;
        }
        
        #fieldTable input:focus {
          border-color: #3498db;
          outline: none;
        }
      
        #fieldTable .field-total {
          font-weight: bold;
        }
      </style>
      
  {% endblock %}